body{
    background-image: url("https://static.videezy.com/system/resources/thumbnails/000/041/245/original/4K-15.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Bree Serif', serif;
    font-size: 17px;
    }
    /* Barra de navegacion*/
ul {
    width: 100%;
    list-style-type: none;
    margin: 10px;
    padding: 5px;
    overflow: hidden;
    background-color: #1e3b70e5;}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 15px;
}

li a:hover {
    background-color: #4169e1;
}

.titulo{
    font-size: 10px;
    float: left;
    color: white;
    font-family: 'B612', sans-serif;
    margin-left: 5px;
}
/*boton de mas info*/
#btn{
    border-radius: 25px;
    border:solid white 1px;
    background-color: #1e3b70e5;
    color: white;
    display: inline;
}
#btn-{
    border-radius: 25px;
    border:solid white 1px;
    background-color: #1e3b70e5;
    color: white;
    display: none;}
#btn2{
    border-radius: 25px;
    border:solid white 1px;
    background-color: #1e3b70e5;
    color: white;
    display: inline;
}
#btn2-{
    border-radius: 25px;
    border:solid white 1px;
    background-color: #1e3b70e5;
    color: white;
    display: none;
}
/*seccion*/
.tarjetacompleta{
    justify-content: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 2%;
}
/*articulos*/
.tarjeta{
    align-items: center;
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: #1e3b70e5;
    border-radius:25px;
    border: solid rgb(255, 255, 255) 1px;
    color: white;
    font-size: 15px;
}
/*foto de perfil*/
.foto-perfil{
    float: left;
    width: 180px;
    height: auto;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 25px;
}
/*info de articulos*/
.informacion{
    margin-top: 10px;
    margin-left: 250px;
    width: 100%;
    font-size: 17px;
    font-family: 'Bree Serif', serif;
}
.logos-redes{
        margin: 10px;
}
.logo{
    justify-content: center;
    display: inline-block;
    margin-left: 12%;
    margin-top: 20px;

}
.tit-contacto{
    color: black;
    text-align: center;
}
.lenguaje-logo{
    float: left;
    width: 140px;
    height: auto;
    margin-top: 10px;
    margin-left: 20px;
}
.nombre-lenguaje{
    font-family: 'Bree Serif', serif;
    text-align: center;
    font-size: 55px;
}
.titulo-caja{
    width: 100%;
}
.titulo-pag{
    font-family: 'B612', sans-serif;
    font-size: 50px;
    text-align: center;
}
.trabajos{
    margin: 5px;
}
.listaexp{
    margin-left: -10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.096);
    font-family: monospace;
    color: #ffffffe5;
    border-radius: 25px ;
}
.experiencia{
    margin: 5px;
    float: left;
    font-style: italic;
    background-color: none;
}



/*RESPONSIVE*/
/*Celulares de pantalla grande o tablet pequeñas*/
@media screen and (max-width: 747px){
    body{
        margin: 0px;
    }
    .titulo{
        width: 100%;
        text-align: center;
    }
    ul{
        padding: 0px;
    }
    ul, li{
        width: 100%;
        display: inline-block;
        text-align: center;
    }
    ul, a{
        display: list-item;
    }
    .tarjetacompleta{
        margin-left: 10%;
        width: 80%;
    }
    .tarjeta{
        display: inline-block;
        width: 100%;
    }
    .foto-perfil{
        width: 35%;
        margin-left: 32%;
    }
    .informacion{
        text-align: center;
        margin-top: 250px;
        margin-left: 0px;
        width: 100%;
    }
    .listaexp{
        margin: 0px;
        padding: 0px;
        background-color: rgba(255, 255, 255, 0.096);
        font-family: monospace;
        color: #ffffffe5;
        border-radius: 25px ;
    }
    .experiencia{
        margin: 0px;
        float: left;
        font-style: italic;
        background-color: none;
    }
    .lenguaje-logo{
        float: left;
        width: 100px;
        height: auto;
        margin-top: 0px;
        margin-left: 0px;
    }
    .nombre-lenguaje{
        font-family: monospace;
        text-align: right;
        font-size: 35px;
        margin-left: 0px;
    }

}
/*celulares de poca resolucion*/
@media screen and (max-width: 480px){
    body{
        margin: 0px;
    }
    ul, li{
        width: 100%;
        margin: 5px 0px;
    }
    .tarjetacompleta{
        margin: 0px 0px;
        width: 100%;
    }
    .tarjeta{
        margin: 0 0 0 0;
        width: 100%;
    }
    .foto-perfil{
        width: 40%;
        margin-left: 100px;
    }
    .informacion{
        margin-top: 250px;
        margin-left: 0px;
        width: 100%;
    }
    .lenguaje-logo{
        float: left;
        width: 100px;
        height: auto;
        margin-top: 0px;
        margin-left: 0px;
    }
    .nombre-lenguaje{
        font-family: monospace;
        text-align: right;
        font-size: 35px;
        margin-left: 0px;
    }
}

@media only screen and (max-width: 820px) and (min-width: 748px){
    ul {
        margin: 0px;
        padding: 2px;
        overflow: hidden;
        background-color: #1e3b70e5;
    }
    .tarjetacompleta{
        width: 60%;
        margin-left: 20%;
        margin-top: 2%;
    }
    /*articulos*/
    .tarjeta{
        width: 100%;
        height: auto;
        padding: 10px;
        background-color: #1e3b70e5;
        border-radius:25px;
        border: solid rgb(255, 255, 255) 1px;
        color: white;
        font-size: 15px;
    }
    .foto-perfil{
        width: 150px;
    }
    .informacion{
        margin-top: 10px;
        margin-left: 180px;
        width: 100%;
    }   
    .lenguaje-logo{
        float: left;
        width: 100px;
        height: auto;
        margin-top: 0px;
        margin-left: 0px;
    }
    .nombre-lenguaje{
        font-family: monospace;
        text-align: right;
        font-size: 35px;
        margin-left: 0px;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 821px){
    .informacion{
        margin-top: 10px;
        margin-left: 150px;
        width: 100%;
    } 
    .foto-perfil{
        margin-top: 40px;
        width: 130px;
    }
}

